@{
    ViewBag.Title = "Home Page";
}

<table class="jumbotron " border="1">
    <body background="~/Images/hospital2.jpg">
    </body>
    <h1 style="color:darkred;">Welcome to the Hospital Database Application</h1>
    <h1 style="color:darkgreen;">You can look at the tables without being system Admin</h1>
    <h1 style="color:darkgreen;">If you want to Create,Delete or Edit the informations of an entity, you have to Login or Register as an Admin</h1>

    <div class="row">

    </div>
