@{
    ViewBag.Title = "E-postayı Onayla";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        E-postanızı onayladığınız için teşekkür ederiz. Lütfen @Html.ActionLink("Oturum açmak için buraya tıklayın", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
